*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body, html {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background: #DAE7EEFF;
}

.blocHeader{
    display: flex;
    justify-content: center;
    height: 2%;
    padding-bottom: 0.3rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: 1rem;
    border-bottom: 3px solid #7EABE4;
}

a {
    --color: #7EABE4;
    font-family: inherit;
    display: inline-block;
    text-align: center;
    width: 8em;
    height: 2em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: none;
    transition: color 0.5s;
    z-index: 1;
    font-size: 19px;
    border-radius: 15px;
    font-weight: 500;
    color: var(--color);
    align-content: center;
}

#logo{
    color: #7EABE4;
    font-family: "Jim Nightshade", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    width: 5em;
    height: 2em;
}

a:not(:first-child):before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

a:hover {
    color: white;
}

a:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

a:hover:before {
    top: -30px;
    left: -30px;
}

a:active:before {
    background: rgba(18, 64, 133, 0.75);
    transition: background 0s;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 3rem;
}

.containerPresentationPersonnel{
    display: flex;
    background-image: url("../img/background.png");
    padding: 2rem;
    border-radius: 80px;
    overflow: hidden;
    width: 50%;
    box-shadow: -1px 1px 8px 10px rgba(57,126,229,0.75);
    -webkit-box-shadow: -1px 1px 8px 10px rgba(57,126,229,0.75);
    -moz-box-shadow: -1px 1px 8px 10px rgba(57,126,229,0.75);
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.containerPresentationPersonnel img{
    width: 250px;
}

.blocPresentationPersonnel{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 500px;
    word-wrap: break-word; /* Permet de couper les mots trop longs */
    overflow: hidden; /* Empêche le débordement de contenu */
    text-overflow: ellipsis; /* Ajoute "..." pour indiquer le débordement */
    padding: 1rem; /* Ajoute un peu d'espace à l'intérieur */
    background: none;
    color: white;
    filter: drop-shadow(0px 1px 3px rgba(104, 104, 104, 0.7));
}

.blocPresentationPersonnel h1{
    color: white;
}

.blocPresentationPersonnel p{
    word-break: break-word;
    hyphens: auto;
}

#nomPrenom{
    color: #b5cff3;
    filter: drop-shadow(0px 1px 3px rgb(0, 0, 0));
}

footer{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background: url("../img/background.png");
    border-radius: 15px;
    width: 50%;
    margin: 0 auto 2rem auto;
    color: white;
    box-shadow: -1px 1px 8px 10px rgba(57,126,229,0.75);
    -webkit-box-shadow: -1px 1px 8px 10px rgba(57,126,229,0.75);
    -moz-box-shadow: -1px 1px 8px 10px rgba(57,126,229,0.75);
}

footer p{
    filter: drop-shadow(0px 1px 3px rgba(104, 104, 104, 0.7));
    font-weight: 600;
}



.container{
    padding: 2rem;
    border: 3px solid black;
    border-radius: 15px;
}

.blocPresentationPersonnel h1{
    color: black;
}

.blocPresentationPersonnel span{
    color: red;
}